{% load static %}

<footer>
    <div class="card footer-card">
        <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col-md-6 h-100 d-flex flex-column justify-content-between first-column">
                <div class="card-body p-0 d-flex flex-column justify-content-between" style="height: 18rem;">
                    <div>
                    <p class="cat-title">CATALOG</p>
                    <div class="footer-links">
                        <ul class="main-nav">
                          <li><a href="#">About us</a></li>
                          <li class="separator">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
                              <path d="M1 25L24 1" stroke="#828D91"/>
                            </svg>
                          </li>
                          <li><a href="#">Services</a></li>
                          <li class="separator">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
                              <path d="M1 25L24 1" stroke="#828D91"/>
                            </svg>
                          </li>
                          <li><a href="#">Pricing</a></li>
                          <li class="separator">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
                              <path d="M1 25L24 1" stroke="#828D91"/>
                            </svg>
                          </li>
                          <li><a href="{% url 'vibeApp:gallery' %}">Gallery</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="d-flex cat-container">
                        <a class="cat-title1" href="#">Our Blog</a>
                        <a class="cat-title1" href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 h-100 d-flex flex-column justify-content-between second-column">
                <div class="card-body p-0 d-flex flex-column justify-content-between" style="height: 18rem;">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <p class="cat-title">Contact us</p>
                            <div class="div2">
                                <p class="cat-title2 m-0">+512-522-1798</p>
                                <p class="cat-title3">VVProductionsATX@gmail.com</p>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <p class="cat-title text-start text-md-end">Follow us</p>
                                <div class="div2">
                                    <a class="cat-title4 m-0" href="#">Facebook</a>
                                    <a class="cat-title4 m-0" href="#">LinkedIn</a>
                                    <a class="cat-title4 m-0" href="#">Instagram</a>
                                    <a class="cat-title4 m-0" href="#">YouTube</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-1 g-4">
                        <div class="col d-flex justify-content-between align-items-center">
                            <a class="cat-title1" href="#">Address Line 1, Houston, TX 81063</a>
                            <img src="{% static 'icons/up.svg' %}" alt="Go to Top" id="backToTopBtn" style="cursor: pointer;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-card">
        <p class="copy-title">© 2025 — Copyright</p>
        <p class="copy-title">Privacy Policy</p>
        <p class="copy-title">All rights reserved</p>
    </div>
</footer>


<!--<div class="col-md-6 h-100">-->
<!--                <div class="card-body p-0">-->
<!--                    <div class="row row-cols-1 row-cols-md-2 g-4">-->
<!--                        <div class="col h-100">-->
<!--                            <p class="cat-title">Contact us</p>-->
<!--                            <div class="div2">-->
<!--                                <p class="cat-title2 m-0">+512-522-1798</p>-->
<!--                                <p class="cat-title3">VVProductionsATX@gmail.com</p>-->
<!--                            </div>-->

<!--                            <div class="d-flex cat-container">-->
<!--                                <a class="cat-title1" href="#">Address Line 1, Houston, TX 81063</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col d-flex flex-column h-100 justify-content-between align-items-end">-->
<!--                            <div>-->
<!--                                <p class="cat-title">Follow us</p>-->
<!--                                <div class="div2">-->
<!--                                    <a class="cat-title4 m-0" href="#">Facebook</a>-->
<!--                                    <a class="cat-title4 m-0" href="#">Facebook</a>-->
<!--                                    <a class="cat-title4 m-0" href="#">Facebook</a>-->
<!--                                    <a class="cat-title4 m-0" href="#">Facebook</a>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="d-flex cat-container1">-->
<!--                                <a class="cat-title1" href="#"><img src="{% static 'icons/up.svg' %}"></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
