{% extends 'base.html' %}
{% load static %}

{% block title %}Vibe and Vision Productions{% endblock %}

    {% block content %}

    <!--NAV HEADER-->
    <div class="fixed-top" id="main-header">
      <div class="top-bar d-none d-md-flex text-white">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <div class="contact-info">
            <div class="top-bar-item">
              <img src="{% static 'icons/ic_baseline-phone.png' %}"> <div class="top-bar-text">+512-522-1798</div>
            </div>
            <div class="top-bar-item">
              <img src="{% static 'icons/material-symbols_mail.png' %}"> <div class="top-bar-text">VVProductionsATX@gmail.com</div>
            </div>
          </div>
          <div class="social-icons">
            <a href="#" class="text-white"><img src="{% static 'icons/ri_instagram-fill.svg' %}"></a>
            <a href="#" class="text-white"><img src="{% static 'icons/mdi_linkedin.svg' %}"></a>
            <a href="#" class="text-white"><img src="{% static 'icons/ic_baseline-facebook.svg' %}"></a>
            <a href="#" class="text-white"><img src="{% static 'icons/mdi_youtube.svg' %}"></a>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg" id="main-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'vibeApp:home' %}">
            <img src="{% static 'images/VibeVisionLogo.png' %}" class="v-logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end offcanvas-lg" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vibeApp:corporate' %}">CORPORATE EVENTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vibeApp:social' %}">SOCIAL EVENTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vibeApp:weddings' %}">WEDDINGS</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <section class="header">

        <div class="card header-card">
          <video class="card-video-bg" autoplay muted loop playsinline>
            <source src="{% static 'videos/header-intro.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <div class="gradient-overlay"></div>

          <div class="card-img-overlay">
            <h1 class="hero-title">epic events unmatched energy</h1>
            <p class="hero-subtitle">Comprehensive Audio Visual Services in Austin, Texas</p>
            <button type="button" class="btn book-btn">BOOK NOW</button>
          </div>
        </div>

    </section>


<!--    <section class="service-section">-->
<!--        <h1 class="section-title">OUR SERVICES</h1>-->
<!--        <div class="service-cards-section" style="margin-top: 5rem;">-->
<!--            <div class="card service-card" style="background-image: url('{% static 'images/service1.jpg' %}');">-->
<!--              <div class="card-body">-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->




    <section class="service-section">

        <h1 class="section-title">Our Services</h1>

        <div class="service-cards-section" style="margin-top: 5rem;">
            <div class="owl-carousel owl-theme">

                <div class="card service-card" style="background: linear-gradient(197deg, rgba(0, 0, 0, 0) 39.72%, rgba(0, 0, 0, 0.70) 75.99%), url('{% static 'images/service1.jpg' %}') center/cover no-repeat;">
                    <div class="card-body service-body">
                        <h3 class="service-title">Corporate Events</h3>
                        <p class="service-subtitle">Elevate Your Corporate Events with Professional Entertainment Subheadline: From team celebrations to
                            client galas, we bring the perfect vibe to match your company's vision and create memorable experiences that strengthen connections.
                        </p>
                    </div>
                    <a href="#" class="service-btn">See Details</a>
                </div>

                <div class="card service-card" style="background: linear-gradient(197deg, rgba(0, 0, 0, 0) 39.72%, rgba(0, 0, 0, 0.70) 75.99%), url('{% static 'images/service2.jpg' %}') center/cover no-repeat;">
                    <div class="card-body service-body">
                        <h3 class="service-title">Social Events</h3>
                        <p class="service-subtitle">From intimate gatherings to epic parties, we bring the energy, creativity, and personal touch that makes your social events extraordinary.
                        </p>
                    </div>
                    <a href="#" class="service-btn">See Details</a>
                </div>

                <div class="card service-card" style="background: linear-gradient(197deg, rgba(0, 0, 0, 0) 39.72%, rgba(0, 0, 0, 0.70) 75.99%), url('{% static 'images/service3.jpg' %}') center/cover no-repeat;">
                    <div class="card-body service-body">
                        <h3 class="service-title">Wedding Events</h3>
                        <p class="service-subtitle">From ‘I do’ to Last Dance, we create seamless, magical entertainment that brings your wedding vision to life and keeps your celebration unforgettable.
                        </p>
                    </div>
                    <a href="#" class="service-btn">See Details</a>
                </div>

            </div>
        </div>

    </section>

    <section class="schedule-section">

        <h1 class="schedule-title">Scheduled Events</h1>


        <div class="schedule-cards">
            <div class="event-row">
              <div class="date-box">
                <div class="day">17</div>
                <div class="month">Jul</div>
              </div>
              <div class="event-info">
                <div class="event-title">Wonderland Beats Festival</div>
                <div class="event-artist">Graham Donovan</div>
              </div>
              <div class="event-location">
                <span class="city">Miami</span>
                <span class="state">Florida</span>
              </div>
            </div>

            <div class="event-row">
              <div class="date-box">
                <div class="day">18</div>
                <div class="month">Jul</div>
              </div>
              <div class="event-info">
                <div class="event-title">Wonderland Beats Festival</div>
                <div class="event-artist">Graham Donovan</div>
              </div>
              <div class="event-location">
                <span class="city">Miami</span>
                <span class="state">Florida</span>
              </div>
            </div>

            <div class="event-row">
              <div class="date-box">
                <div class="day">21</div>
                <div class="month">Jul</div>
              </div>
              <div class="event-info">
                <div class="event-title">Wonderland Beats Festival</div>
                <div class="event-artist">Graham Donovan</div>
              </div>
              <div class="event-location">
                <span class="city">Miami</span>
                <span class="state">Florida</span>
              </div>
            </div>

            <div class="event-row">
              <div class="date-box">
                <div class="day">22</div>
                <div class="month">Jul</div>
              </div>
              <div class="event-info">
                <div class="event-title">Wonderland Beats Festival</div>
                <div class="event-artist">Graham Donovan</div>
              </div>
              <div class="event-location">
                <span class="city">Miami</span>
                <span class="state">Florida</span>
              </div>
            </div>

            <div class="event-row">
              <div class="date-box">
                <div class="day">27</div>
                <div class="month">Jul</div>
              </div>
              <div class="event-info">
                <div class="event-title">Wonderland Beats Festival</div>
                <div class="event-artist">Graham Donovan</div>
              </div>
              <div class="event-location">
                <span class="city">Miami</span>
                <span class="state">Florida</span>
              </div>
            </div>
          </div>



    </section>


    <section class="schedule-section">

        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <a href="{% static 'images/service3.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service3.jpg' %}" alt="Image 1" class="swiper-image2"></a>
              </div>
                <div class="swiper-slide">
                    <a href="{% static 'images/service2.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service2.jpg' %}" alt="Image 1" class="swiper-image1"></a>
                </div>
                <div class="swiper-slide">
                    <a href="{% static 'images/service1.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service1.jpg' %}" alt="Image 1" class="swiper-image2"></a>
                </div>
                <div class="swiper-slide">
                    <a href="{% static 'images/service3.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service3.jpg' %}" alt="Image 1" class="swiper-image1"></a>
                </div>
                <div class="swiper-slide">
                    <a href="{% static 'images/service2.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service2.jpg' %}" alt="Image 1" class="swiper-image2"></a>
                </div>

          </div>
<!--          <div class="swiper-pagination"></div>-->
<!--          <div class="swiper-button-next"></div>-->
<!--          <div class="swiper-button-prev"></div>-->
        </div>

        <div class="swiper mySwiper-reverse">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                  <a href="{% static 'images/service3.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service3.jpg' %}" alt="Image 1" class="swiper-image1"></a>
              </div>
                <div class="swiper-slide">
                    <a href="{% static 'images/service2.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service2.jpg' %}" alt="Image 1" class="swiper-image2"></a>
                </div>
                <div class="swiper-slide">
                    <a href="{% static 'images/service1.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service1.jpg' %}" alt="Image 1" class="swiper-image1"></a>
                </div>
                <div class="swiper-slide">
                    <a href="{% static 'images/service3.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service3.jpg' %}" alt="Image 1" class="swiper-image2"></a>
                </div>
                <div class="swiper-slide">
                    <a href="{% static 'images/service2.jpg' %}" data-lightbox="gallery"><img src="{% static 'images/service2.jpg' %}" alt="Image 1" class="swiper-image1"></a>
                </div>

          </div>
<!--          <div class="swiper-pagination"></div>-->
<!--          <div class="swiper-button-next"></div>-->
<!--          <div class="swiper-button-prev"></div>-->
        </div>

    </section>



    {% endblock %}
