{% load static %}

<div class="fixed-top" id="main-header">
  <div class="top-bar d-none d-md-flex text-white">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="contact-info">
        <div class="top-bar-item">
          <img src="{% static 'icons/ic_baseline-phone.png' %}"> <div class="top-bar-text">+512-522-1798</div>
        </div>
        <div class="top-bar-item">
          <img src="{% static 'icons/material-symbols_mail.png' %}"> <div class="top-bar-text">VVProductionsATX@gmail.com</div>
        </div>
      </div>
      <div class="social-icons">
        <a href="#" class="text-white"><img src="{% static 'icons/ri_instagram-fill.svg' %}"></a>
        <a href="#" class="text-white"><img src="{% static 'icons/mdi_linkedin.svg' %}"></a>
        <a href="#" class="text-white"><img src="{% static 'icons/ic_baseline-facebook.svg' %}"></a>
        <a href="#" class="text-white"><img src="{% static 'icons/mdi_youtube.svg' %}"></a>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg" id="main-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/VibeVisionLogo.png' %}" class="v-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end offcanvas-lg" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="#">CORPORATE EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SOCIAL EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WEDDINGS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>